*{
  box-sizing: border-box;
}

.banner {
  position: relative;
  z-index: 1;
  background-color: rgb(148, 148, 148);
  overflow: hidden;
}

/* Styling for entire nav bar */
.banner a {
  float: left;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

 /* Pushes menu items to the left */
.menu {
  display: flex;
  justify-content: flex-end;
}

/* Styling for logo */
.banner p {
  float: left;
  padding-left: 1em;
  font-style: italic;
}

.menu a:hover {
  background-color: #ddd;
}

/* End nav */



/* Start Me */

body{
  margin:0; /* Removes padding around body element */ /* Sets line height and font size */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  line-height:1.5;
}

/* Introduces flex box formatting for article tag */
article {
  display: flex;
  flex-wrap: wrap;
}

/* Formats each section with a box width and height */
/* Aligns content to the middle vertically and horiz*/
section{
  width: 100%;
  /* height: 600%; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* padding: 2% 2% 2% 2%; */
}

#bio-left {
  /* display: grid; */
  padding-left: 5%;
  padding-right: 5%;
  font-size: x-large;
  flex-direction: row;
}

#bio-right {
  /* padding: 5% 5%; */
  padding: 5%;
}

/* #bio-right img{
  position: flex;
  display: grid;
  width: 300px
  height: 300px
  /* padding: 5% 5%; */
  
/* }  */

#bio-middle {
  width: 60%;
  height: 40%;
  padding-left: 5%;
  font-size: x-large;
}

#bio-middle2 {
  width: 60%;
  height: 40%;
  padding-left: 5%;
  font-size: x-large;
}

#feature-1 {
  background-color: #F5CF8E;
  height: 80vh;
}

#feature-2 {
  background-color: rgb(187, 187, 187);

}

#feature-3 {
  background-color: #C8C6FA;
  padding-bottom: 5rem;
} 

.v-header{
  /* width: 1% */
  padding-top: 100px;
  height:80vh;
  display:flex;
  align-items:center;
  color:#fff;
  max-width:960px;
  padding-left:5rem;
  padding-right:5rem;
  margin:auto;
  text-align:center;
}

/* .header-overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:90%;
  overflow:hidden;
  background:#225470;
  opacity:0.85;
} */

.fullscreen-video-wrap{
  position: absolute;;
  top:0;
  left:0;
  width:100%;
  height:90%;
  overflow:hidden;
  /* background: #225470; */
}

/* Makes text visible infront of video */
.header-content{
  text-shadow: black;
  z-index:2;
  text-shadow: 1px 1px 1px black;

}

/* Styles I Am Aiden Waring */
.header-content h1{
  font-size:80px;

  /* margin-bottom:0;  */
}

/* Styles p content */
.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:5rem;
}

/* Styles button */
 .btn{
  /* background: #34b3a0; */
  color:black;
  /* font-size:1.2rem; */
  /* padding: 1rem 2rem; */
  text-decoration: none;
}

.lang {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.btn a {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.btn p{
  padding-left: 50px;
  background-color: ivory;
}

@media screen and (max-width: 2000px) {
  .lang p {
    font-size: 4rem;
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  .v-header {
    padding: 0;
  }
  #bio-left {
    width: 100%;
    padding-top: 10%;
  }
  #feature-2 {
    display: block;
  }
  #feature-3 {
    display: block;
  }
  #me {
    width: 335px;
  }

  .lang p {
    font-size: 4rem;
    margin: 0;
    padding-right: 20px;
  }

  .menu {
    display: flex;
  }
  
  /* Styling for logo */
  .banner p {
    float: left;
    padding-left: 5px;
    font-style: italic;
  }

  .banner a {
    float: left;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.btn p{
  padding-left: 50px;
  background-color: ivory;
}

}