*{
  box-sizing: border-box;
}

.banner {
  position: relative;
  z-index: 1;
  background-color: white;
  overflow: hidden;
}

/* Styling for entire nav bar */
.banner a {
  float: left;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

 /* Pushes menu items to the left */
.menu {
  display: flex;
  justify-content: flex-end;
}

/* Styling for logo */
.banner p {
  float: left;
  padding-left: 1em;
  font-style: italic;
}

.menu a:hover {
  background-color: #ddd;
}



/* End nav */



/* Start Me */

body{
  margin:0; /* Removes padding around body element */ /* Sets line height and font size */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  line-height:1.5;
}

/* Introduces flex box formatting for article tag */
article {
  display: flex;
  flex-wrap: wrap;
}

/* Formats each section with a box width and height */
/* Aligns content to the middle vertically and horiz*/
section{
  width: 100%;
  height: 600%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* padding: 2% 2% 2% 2%; */

}

#bio-left {
  /* display: grid; */
  width: 60%;
  height: 40%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: x-large;
  flex-direction: row;
}

.v-header{
  /* width: 1% */
  padding-top: 100px;
  height:80vh;
  display:flex;
  align-items:center;
  color:#fff;
  max-width:960px;
  padding-left:5rem;
  padding-right:5rem;
  margin:auto;
  text-align:center;
  justify-content: center;
}

.fullscreen-video-wrap{
  position: absolute;;
  top:0;
  left:0;
  width:100%;
  height:90%;
  overflow:hidden;
}

.header-overlay {
  position: absolute;;
  top:0;
  left:0;
  width:100%;
  height:90vh;
  overflow:hidden;
  background:#a9c4b7;
  opacity:0.15;
}

/* Makes text visible infront of video */
.header-content{
  z-index:2;
}

/* Styles I Am Aiden Waring */
.header-content h1{
  font-size:80px;
  align-items: center;
  /* margin-bottom:0;  */
}

/* Styles p content */
.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:5rem;
}

section {
  /* background-color: rgb(82, 209, 198); */
  width: 100%;
  height: 600%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;

}

/* Comment this out for mobile */
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
  padding-bottom: 10rem;
}

.gallery__img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  display: block; 
  /* border-style: dashed;
  border-color: black; */
}

.gallery__item--0 {
  z-index: 3;
  border-style: dashed;
  border-color: black;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gallery__item--X {
  z-index: 3;
  border-style: dashed;
  border-color: black;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 9;
  /* clip: 0px, 0px, 0px, 0px; */
}

.gallery__item--2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 9;
}